@*@model HomeViewModel*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">in</h1>
    <h1 class="display-4">Writers Corner</h1>
</div>

<table>
    <tr>
        <th style="float: left">
            <img src="~/Pictures/Icons/AboutUs.png" />
        </th>
        <th style="float: right">
            @*@if (Model.AboutUs != null)
                {
                    @Model.AboutUs
                }*@
            About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text
            About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text
            About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text About Us Text
        </th>
    </tr>
    <tr>
        <th style="float: left">
            @*@if (Model.ContactUs != null)
                {
                    @Model.ContactUs
                }*@
            Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text
            Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text
            Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text Contact Us Text
        </th>
        <th style="float: right">
            <img src="~/Pictures/Icons/ContackUs.png" />
        </th>
    </tr>
    <tr>
        <th style="float: left">
            <img src="~/Pictures/Icons/FAQ.png" />

            @*<a href="/Book/Detail/@Model.BookId">
                <img src="~/Images/BookCovers/@(Model.ImageUrl)" height="300" width="250" />
            </a>
            <div class="img-magnifier-container">
                <img id="tamriel" src="~/Images/Maps/tamriel_map.jpg" height="150" width="300" alt="Tamriel map" />
            </div>*@
        </th>
        <th style="float: right">
            @*@if (Model.FAQ != null)
            {
            @Model.FAQ
            }*@
            FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text
            FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text
            FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text FAQ Text
        </th>
    </tr>
</table>
