@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<script>
    var renderPage = true;

    if (navigator.userAgent.indexOf('MSIE') !== -1
        || navigator.appVersion.indexOf('Trident/') > 0) {
        /* Microsoft Internet Explorer detected in. */
        alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
        renderPage = false;
    }
</script>

<!-- Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
</div>

<div class="container">

    <!-- 1st Section -->
    <section class="row tm-section tm-mb-30">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="tm-flex-center pl-5 pr-5 pt-5 pb-5">
                <div class="tm-md-flex-center">
                    <h2 class="mb-4 tm-text-color-primary">Welcome to Writer's Corner!</h2>
                    <p>
                        @foreach (var item in Model.SiteInfo)
                        {
                            @item.AboutUs
                        }
                    </p>
                    @*<p></p>
                        <p class="mb-4">Test place: @Model.AboutUs</p>*@
                    <a href="#" class="btn btn-primary float-lg-right tm-md-align-center">Read More</a>
                </div>
            </div>
        </div>
        @*<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-xl-right text-md-center text-center mt-5 mt-lg-0 pr-lg-0">
                <img src="img/image-02.jpg" alt="Image" class="img-fluid">
            </div>*@
    </section>

    <!-- 2nd section -->
    <section class="row tm-section">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
            <div class="tm-flex-center p-5 tm-bg-color-primary tm-section-min-h">
                <h1 class="tm-text-color-white tm-site-name">Contact Us</h1>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="tm-flex-center p-5">
                <q class="tm-quote tm-text-color-gray">
                @foreach (var item in Model.SiteInfo)
                {
                    @item.ContactUs
                }
                </q>
                <!-- TODO - to fix it to be shown under the texr-->
                <a href="#" class="btn btn-primary float-lg-right tm-md-align-center">Read more</a>
            </div>
        </div>
    </section>

    <!-- 3th section -->
    <section class="row tm-section tm-col-md-reverse">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="tm-flex-center p-5">
                <div class="tm-md-flex-center">
                    @*<h2 class="tm-text-color-primary mb-4">Contact Us</h2>*@
                    <p class="mb-4">
                    @foreach (var item in Model.SiteInfo)
                    {
                        @item.FAQ
                    }
                    </p>
                    <a href="#" class="btn btn-primary float-lg-right tm-md-align-center">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
            <div class="tm-flex-center p-5 tm-bg-color-primary tm-section-min-h">
                <h1 class="tm-text-color-white tm-site-name">FAQ</h1>
            </div>
        </div>
    </section>

    <!-- 4th Section -->
    @*<section class="row tm-section tm-mb-30">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
                <img src="img/image-01.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="tm-flex-center p-5">
                    <div class="tm-flex-center tm-flex-col">
                        <h2 class="tm-align-left">Loerm ipsum dolor sit amet</h2>
                        <p>This is one-page HTML5 template that you can use for any purpose. Please tell your friends about <a href="https://www.facebook.com/templatemo" target="_parent">TemplateMo</a> website. Thank you.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </section>*@
</div>

<!-- load JS -->
<script src="js/jquery-3.2.1.slim.min.js"></script>